<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzuli.ssm.mapper.MoneyPayMapper" >
  <resultMap id="BaseResultMap" type="com.zzuli.ssm.po.MoneyPay" >
    <id column="pay_id" property="payId" jdbcType="INTEGER" />
    <result column="pay_money" property="payMoney" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pay_memo" property="payMemo" jdbcType="VARCHAR" />
    <result column="pay_kind" property="payKind" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pay_id, pay_money, pay_time, pay_memo, pay_kind
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zzuli.ssm.po.MoneyPayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from money_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from money_pay
    where pay_id = #{payId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from money_pay
    where pay_id = #{payId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzuli.ssm.po.MoneyPayExample" >
    delete from money_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzuli.ssm.po.MoneyPay" >
    insert into money_pay (pay_id, pay_money, pay_time, 
      pay_memo, pay_kind)
    values (#{payId,jdbcType=INTEGER}, #{payMoney,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{payMemo,jdbcType=VARCHAR}, #{payKind,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzuli.ssm.po.MoneyPay" >
    insert into money_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        pay_id,
      </if>
      <if test="payMoney != null" >
        pay_money,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="payMemo != null" >
        pay_memo,
      </if>
      <if test="payKind != null" >
        pay_kind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        #{payId,jdbcType=INTEGER},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMemo != null" >
        #{payMemo,jdbcType=VARCHAR},
      </if>
      <if test="payKind != null" >
        #{payKind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzuli.ssm.po.MoneyPayExample" resultType="java.lang.Integer" >
    select count(*) from money_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update money_pay
    <set >
      <if test="record.payId != null" >
        pay_id = #{record.payId,jdbcType=INTEGER},
      </if>
      <if test="record.payMoney != null" >
        pay_money = #{record.payMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payMemo != null" >
        pay_memo = #{record.payMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.payKind != null" >
        pay_kind = #{record.payKind,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update money_pay
    set pay_id = #{record.payId,jdbcType=INTEGER},
      pay_money = #{record.payMoney,jdbcType=VARCHAR},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      pay_memo = #{record.payMemo,jdbcType=VARCHAR},
      pay_kind = #{record.payKind,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzuli.ssm.po.MoneyPay" >
    update money_pay
    <set >
      <if test="payMoney != null" >
        pay_money = #{payMoney,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMemo != null" >
        pay_memo = #{payMemo,jdbcType=VARCHAR},
      </if>
      <if test="payKind != null" >
        pay_kind = #{payKind,jdbcType=VARCHAR},
      </if>
    </set>
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzuli.ssm.po.MoneyPay" >
    update money_pay
    set pay_money = #{payMoney,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_memo = #{payMemo,jdbcType=VARCHAR},
      pay_kind = #{payKind,jdbcType=VARCHAR}
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
</mapper>